*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}


/* header */

.container-header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 102, 0);
}


a {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.container-centre {
    height: 40px;
    width: 200px;
    background-image: url(img/boolean-logo.png);
    background-size: cover;
}

.logo-boolean {
    background-image: url(img/boolean-logo.png);
    background-size: cover;
}

.loghi-web > a{
    color: white;
    font-size: 10px;
    margin-right: 5px;
}




/* main */



.container-main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: nowrap;
   
}

.item {
    width: calc(80% / 3 - 20px);
    height: 300px;
    margin: 5px ;
    position: relative;
    display: inline-block;
}

.container-img {
    position: relative;
    width: 100%;
    height: 85%;
    background-image: url(img/1.webp);
    background-size: cover;
}

.container-img:hover {
    background-image: url(img/1b.webp);
}

.discount {
    position: absolute;
    bottom: 15px;
    background-color: red;
    color: white;
    font-size: 7px;
    text-align: center;
    margin-left: 5px;
    padding: 1px;
}

.propriety {
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-color: green;
    color: white;
    font-size: 7px;
    text-align: center;
    margin-left: 5px;
    padding: 1px;
}

.singol {
    left: 0;
    margin: 0;
}

.fa-heart {
    position: absolute;
    top: 5px;
    padding: 5px;
    background-color: white;
    right: 0;
    
}

.container-text {
    width: 100%;
    height: 15%;
    text-align: left;
}

.container-text > p {
    font-size: 10px;
}

.container-text > h2 {
    font-size: 10px;
}

.text-red {
    color: red;
}

.text-decoration {
    text-decoration: line-through;
}

/* Img-main */

.img2 {
    background-image: url(img/2.webp);
}

.img2:hover {
    background-image: url(img/2b.webp);
}


.img3 {
    background-image: url(img/3.webp);
}

.img3:hover {
    background-image: url(img/3b.webp);
}


.img4 {
    background-image: url(img/4.webp);
}

.img4:hover {
    background-image: url(img/4b.webp);
}


.img5 {
    background-image: url(img/5.webp);
}

.img5:hover {
    background-image: url(img/5b.webp);
}

.img6 {
    background-image: url(img/6.webp);
}

.img6:hover {
    background-image: url(img/6b.webp);
}

/* footer */

.background {
    background-color: black;
}


.container-footer {
    margin: 0 auto;
    width: 65%;
    height: 50px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.text-footer > h2, a {
    color: white;
    padding: 2px;
}

.text-footer > h2 {
    font-size: 14px;
}

.loghi-footer {
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 2px;
}





