*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}


/* header */

.container-header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: orange;
}


a {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.container-centre {
    height: 40px;
    width: 200px;
    background-image: url(img/boolean-logo.png);
    background-size: cover;
}

.logo-boolean {
    background-image: url(img/boolean-logo.png);
    background-size: cover;
}

.loghi-web > a {
    color: white;
    font-size: 10px;
    margin-right: 5px;
}

/* main */



.container-main {
    margin: 0 auto;
    width: 80%; 
    background-color: red;
    text-align: center;
    flex-wrap: nowrap;
   
}

.item {
    width: calc(80% / 3 - 20px);
    height: 250px;
    margin: 5px ;
    position: relative;
    display: inline-block;
    background-color: aqua;
}

/* footer */

.container-footer {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
}



