*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}


/* header */

.container-header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: orange;
}

.left, .centre, .right {
    border: 1px dashed black;
    padding: 10px;
}

/* main */



.container-main {
    margin: 0 auto;
    width: 80%; 
    background-color: red;
    text-align: center;
    flex-wrap: nowrap;
   
}

.item {
    width: calc(80% / 3 - 20px);
    height: 250px;
    margin: 5px ;
    position: relative;
    display: inline-block;
    background-color: aqua;
}

